html {
  --s: 56px; /* size */
  --g: 15px; /* gap */
  --c: #ECD078; /* strip color */
  --bg: #0B486B; /* background */

  background:
    repeating-linear-gradient(var(--c) 0 var(--g), transparent 0 50%)
      0 calc(.866*var(--s) - var(--g)/2),
    conic-gradient(from -150deg at var(--g) 50%, var(--c) 120deg, transparent 0),
    linear-gradient(-120deg, #0000 calc(33% - .866*var(--g)),
                            var(--c) calc(33.2% - .866*var(--g)) 33%,
                            #0000 34%),
    linear-gradient(-60deg, #0000 calc(33% - .866*var(--g)),
                           var(--c) calc(33.2% - .866*var(--g)) 33%,
                           #0000 34%)
    var(--bg);
  background-size: var(--s) calc(3.466*var(--s));
  overflow: hidden;
}

/* strip layer 1 */
html::before,
html::after {
  content: "";
  position: fixed;
  inset: 0;
  background: inherit;
  will-change: transform;
}

/* even strips */
html::before {
  -webkit-mask: linear-gradient(#000 50%, transparent 0)
                0 calc(.866*var(--s)) / 100% calc(3.466*var(--s));
  mask: linear-gradient(#000 50%, transparent 0)
        0 calc(.866*var(--s)) / 100% calc(3.466*var(--s));
  animation: move-left 4s linear infinite;
}

/* odd strips */
html::after {
  -webkit-mask: linear-gradient(transparent 50%, #000 0)
                0 calc(.866*var(--s)) / 100% calc(3.466*var(--s));
  mask: linear-gradient(transparent 50%, #000 0)
        0 calc(.866*var(--s)) / 100% calc(3.466*var(--s));
  animation: move-right 4s linear infinite;
}

@keyframes move-left {
  to { transform: translateX(-56px); } /* use var(--s) */
}
@keyframes move-right {
  to { transform: translateX(56px); }
}
